[submodule "project/permit2/lib/forge-std"]
	path = project/permit2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project/permit2/lib/openzeppelin-contracts"]
	path = project/permit2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "project/permit2/lib/permit2"]
	path = project/permit2/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "project/flashload/lib/forge-std"]
	path = project/flashload/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project/aave-v3-liquidation/lib/forge-std"]
	path = project/aave-v3-liquidation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "project/aave-v3-liquidation/lib/aave-v3-origin"]
	path = project/aave-v3-liquidation/lib/aave-v3-origin
	url = https://github.com/aave-dao/aave-v3-origin
[submodule "project/aave-v3-liquidation/lib/openzeppelin-contracts"]
	path = project/aave-v3-liquidation/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "project/aave-v3-liquidation/lib/v3-periphery"]
	path = project/aave-v3-liquidation/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "project/aave-v3-liquidation/lib/universal-router"]
	path = project/aave-v3-liquidation/lib/universal-router
	url = https://github.com/uniswap/universal-router
[submodule "project/aave-v3-liquidation/lib/v4-core"]
	path = project/aave-v3-liquidation/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "project/aave-v3-liquidation/lib/v4-periphery"]
	path = project/aave-v3-liquidation/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "project/aave-v3-liquidation/lib/permit2"]
	path = project/aave-v3-liquidation/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "project/aave-v3-liquidation/lib/v2-core"]
	path = project/aave-v3-liquidation/lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "project/aave-v3-liquidation/lib/v3-core"]
	path = project/aave-v3-liquidation/lib/v3-core
	url = https://github.com/uniswap/v3-core
